{% load static %}
<div class="sidebar-inner d-flex flex-column" style="height: 100%;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li><a class="item" href="{% url 'twitter_app:top' %}"><i class="bi bi-house-heart"></i>　ホーム</a></li>
    <li><a class="item" href="#"><i class="bi bi-hash"></i>　話題を検索</a></li>
    {% if user.is_authenticated %}
    <li><a class="item" href="{% url 'twitter_app:notification_list' %}"><i class="bi bi-bell"></i>　通知</a></li>
    <li><a class="item" href="{% url 'twitter_app:conversation_list' %}"><i class="bi bi-envelope"></i>　メッセージ</a></li>
    <li><a class="item" href="{% url 'twitter_app:bookmark_list' %}"><i class="bi bi-bookmark"></i>　ブックマーク</a></li>
    {% endif %}
    <li><a class="item" href="#"><i class="bi bi-twitter"></i>　Twitter Blue</a></li>
    {% if user.is_authenticated and user.username %}
    <li><a class="item" href="{% url 'twitter_app:profile_detail' user.username %}"><i class="bi bi-person"></i>　プロフィール</a></li>
    {% endif %}
    <li><a class="item" href="#"><i class="bi bi-three-dots"></i>　もっとみる</a></li>
    {% if user.is_authenticated %}
    <li><button class="btn btn-primary mt-3 rounded-pill" style="background-color: #1d9bf0;">投稿する</button></li>
    <li>
    <div class="user_information">
        <div class="user-icon">
            {% if user.profile.icon_image %}
                <img src="{{ user.profile.icon_image.url }}" alt="プロフィール画像">
            {% else %}
                <img src="https://res.cloudinary.com/dayz5tvip/image/upload/v1771568309/default_rjynmt.png" alt="プロフィール画像">
            {% endif %}
        </div>
        <div class="user_name">
            <p class='top_name'>{{ user.display_name}}</p>
            <p>@{{ user.username }}</p>
        </div>
        </div>
        </li>
    {% else %}
    <li><a class="btn btn-primary mt-3 rounded-pill" href="{% url 'account_signup' %}">アカウント作成</a></li>
    {% endif %}
    </ul>
</div>
