{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
{% endblock %}

{% block content %}
<header class="main-header">
  {% block header_title %}
  <div class="title">
    <h1 class="app-logo"><i class="bi bi-leaf"></i><span>Calm SNS</span></h1>
  </div>
  {% endblock %}
  <nav class="menu">
    {% if user.is_authenticated %}
      <form method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary btn-sm">ログアウト</button>
      </form>
    {% else %}
      <a href="{% url 'account_login' %}" class="menu-item">ログイン</a>
      <a href="{% url 'account_signup' %}" class="menu-item">新規登録</a>
    {% endif %}
  </nav>
</header>

<div class="layout-container">
  <aside class="sidebar">
    {% include "components/authenticated_sidebar.html" %}
  </aside>
  <main class="main-content">
    {% block page_content %}{% endblock %}
  </main>
</div>
<script>
  document.addEventListener("DOMContentLoaded", ()=> {
    document.querySelectorAll(".post-menu-wrapper").forEach(wrapper => {
      const icon =wrapper.querySelector(".post-menu-icon");
      const menu = wrapper.querySelector(".post-menu");

      icon.addEventListener("click",(e) => {
        e.stopPropagation();
        menu.style.display = menu.style.display ==="block" ? "none" : "block";
      });
      document.addEventListener("click", () => {
        menu.style.display = "none";
      });
    });
  });
</script>
{% endblock %}
