{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">MyPage</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form method="post" action="{%url 'account_logout' %}" style="display: inline;">
   {% csrf_token %}
   <input type="hidden" name="next" value="{% url 'account_login' %}">
   <button type="submit" class="btn btn-outline-secondary btn-sm">ログアウト</button>
</form>
<div class="h2">Welcome {{ user.username }}</div>
<button class="btn btn-primary mt-3">ポスト</button>
{% else %}
<a href="{url 'account_signup'}" class="btn btn-primary">Signup</a>
{% endif %}

{% endblock %}