{% extends 'base_layout.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/top_page.css' %}?v=9999">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}?v=9999">
{% endblock extra_head %}

{% block title %}Main{% endblock %}

{% block page_content %}
  <div class="fixed-content mt-4">
    {% for post in object_list %}
      {% include "_post_card.html" %}
    {% empty %}
      <p class="text-muted">まだ投稿がありません。</p>
    {% endfor %}
  </div>
{% endblock %}
