{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/top_page.css' %}" />
{% endblock extra_head %}

{% block title %}
  {% if user.is_authenticated %}
    MyPage
  {% else %}
    Main
  {% endif %}
{% endblock %}

{% block content %}
<div class="app">
   {% include "top_page/top_authenticated_header.html" %}
   <div class="main">
      {% include "top_page/top_authenticated_sidebar.html" %}
    <div class="content">
      <div class="flex-content">
        <div class="cp_tab">
         <div class="tab">
            <input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked />
            <label for="tab1_1">おすすめ</label>
          </div>
          <div class="tab">
            <input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01" />
            <label for="tab1_2">フォロー中</label>          
          </div>
          <div class="cp_tabpanels">
            <div id="first_tab01" class="cp_tabpanel">
            <p>おすすめ</p>
            </div>
            <div id="second_tab01" class="cp_tabpanel">
            <p>フォロー中</p>
            </div>
          </div>
      </div> 
    </div>

      <div class="fixed-content">
         <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-with-icon">
        <div class="container">
          <div class="form-card">
          <div class="user-icon" alt="プロフィール画像">
              <img src="{% static 'images/user_icon.jpg'%}">
          </div>
              <div class="form-fields">
              {{ form.as_p }}
              <input type="submit" value="投稿する" />
              </div>
            </div>
          </div>
        </form>

          {% for post in object_list %}
            <div class="post">
              <p>{{ post.memo }}</p>
          {% if post.image %}
                <img src="{{ post.image.url }}" />
          {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}