{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/top_page.css' %}?v=9999">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}?v=9999">
  {% endblock extra_head %}

{% block title %}
  {% if user.is_authenticated %}
    MyPage
  {% else %}
    Main
  {% endif %}
{% endblock %}

{% block page_content %}
   <div class="cp_tab">
         <div class="tab">
            <input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked />
            <label for="tab1_1">おすすめ</label>
          </div>
          <div class="tab">
            <input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01" />
            <label for="tab1_2">フォロー中</label>          
          </div>

          <div class="cp_tabpanels">
            <div id="first_tab01" class="cp_tabpanel">
            <p>おすすめ</p>
            </div>
            <div id="second_tab01" class="cp_tabpanel">
            <p>フォロー中</p>
            </div>
          </div>
      </div> 

      <div class="fixed-content mt-4">
       <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-with-icon">
        <div class="container">
          <div class="form-card d-flex align-items-start">
            <div class="user-icon me-3">
              <img src="{{ user.profile.icon_image.url }}" alt="プロフィール画像">
          </div>
              <div class="flex-fill">
                {{ form.content }}
                <div class="post-actions">
                  <label for="id_image" style="cursor:pointer;">
                    <i class="bi bi-image"></i>
                  </label>
                  {{ form.image }}
                <i class="bi bi-filetype-gif"></i>
                <i class="bi bi-list-task"></i>
                <i class="bi bi-emoji-smile"></i>
                <i class="bi bi-calendar2-check"></i>
                <i class="bi bi-geo-alt"></i>
              </div>
              <input type="submit" value="投稿する" class="btn btn-primary mt-2 rounded-pill"/>
              </div>
            </div>
          </div>
        </div>
       </form>
       {% for post in object_list %}
          {% include "_post_card.html" %}
       {% empty %}
          <p class="text-muted">まだ投稿がありません。</p>
       {% endfor %}
      </div>
{% endblock %}